body {
    background-color: #4f4f59;
    color: white;
}

main {
    padding: 50px
}

#title {
    display: block;
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
}

form {
    max-width: 500px;
    margin: 10px auto;
    background-color: white;
    padding: 30px;
    border-radius: 20px;
    color: black;
}